.message {
  background-image: linear-gradient(to right, #a27ca8 0%, #dd8f92 100%);
  position: absolute;
  height: 80vh;
  min-height: 350px;
  width: 80vw;
  max-width: 900px;
  top: 10vh;
  left: calc(50vw - 450px);
  border-radius: 40px;
  border: 10px rgb(120, 77, 124) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.message form {
  display: flex;
  flex-direction: column;
}

.target-score {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.message h3,
.message h2 {
  font-size: 2rem;
}

.message form input {
  margin: 5px;
}

.message form input:first-child {
  font-family: 'Nunito', sans-serif;

  font-size: 2rem;
  border-radius: 50px;
  text-align: center;
}

.error-message {
  color: #e20000;
}

.welcome {
  width: 100%;
  padding-left: 2rem;
}

.welcome li {
  font-size: 1.5rem;
}

.btn--select {
  font-size: 1.8rem;
}

@media (max-width: 1000px) {
  .message {
    left: 10vw;
  }
}

@media (max-width: 450px) {
  .welcome ul li {
    font-size: 13px;
  }
}
